<%- include('includes/head.ejs') %>
    </head>
  
  <body>
      <%- include('includes/navigation.ejs') %>
    <section class="section">
      <div class="box  has-text-centered">
        <h1 class="title is-size-1 ">Search for models</h1>
        <form method="POST" action="/models">
        <div class="field">
            <label class="label">Model Brand</label>
            <div class="control ">
              <input class="input " type="text" placeholder="Enter Model Name" name="modelBrand" required>
              
            </div>
          </div>
          <div class="field">
            <label class="label">Model Name</label>
            <div class="control ">
              <input class="input " type="text" placeholder="Enter Model Name" name="modelName" required>
              
            </div>
          </div>
          <div class="field is-grouped">
            <div class="control">
              <button class="button is-link" id="submit-btn">Search</button>
            </div>
            
          </div>
      </form>
      </div>
    </section>

    <%- include('includes/end.ejs') %>